body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

.color-orange {
  color: orange;
}

.half-width {
  width: 50%;
}

img {
  height: 350px;
  padding-left: 50px;
}

.top-banner {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
  display: flex;
}

.hire {
  color: black;
  background-color: orange;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
}

.dream-big {
  display: flex;
}

.dream-big {
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}